
    <div class="navbar">
         <div>
            <a href="#">MERN</a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><button class="loginbtn" onclick=register();>Register</button></li>
                <li><button class="loginbtn" onclick=login();>Login</button></li>
            </ul>
        </nav>
    </div>
